<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.virtualbreak">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_vb_alt"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_vb_alt_round"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.VirtualBreak">

        <service android:name=".controller.communication.FCMService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity android:name=".view.view_activitys.LogInActivity"/>
        <activity android:name=".view.view_activitys.SignInActivity" />
        <activity android:name=".view.view_activitys.VideoCallActivity" />
        <activity
            android:name=".view.view_activitys.breakroom.BreakRoomActivity"
            android:label="@string/title_activity_break_room">
        </activity>
        <activity
            android:name=".view.view_activitys.NavigationDrawerActivity"
            android:label="@string/home"
            android:theme="@style/Theme.VirtualBreak.NoActionBar">
        </activity>
        <activity android:name=".view.view_activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- Meta-data for notifications -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/mandarin" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_cup_white" />
    </application>

</manifest>